__pycache__/
.pytest_cache/
.vscode/
.DS_Store
data/
exps/
build/
dist/
alpha/
runs/
wandb/
.cache/
.eggs/
lightning_logs/
outputs/
graphgym/datasets/
graphgym/results/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.zip
*.pt
*.onnx
*.exe
examples/**/*.png
examples/**/*.pdf
benchmark/results/
.mypy_cache/
.flake8
draft.py
_self_test_util.py
huggingface/
trash/

!rllm/data/
!test/data/