# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cpu
        pip install torch-scatter torch-sparse -f https://data.pyg.org/whl/torch-2.3.0+cpu.html
        pip install sentence-transformers==3.3.1
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with examples
      run: |
        cd examples
        python tab_transformer.py --epochs 1
        python ft_transformer.py --epochs 1
        python tab_transformer.py --epochs 1
        python excelformer.py --epochs 1
        python trompt.py --epochs 1
        python rect.py
        python ogc.py
        python han.py
        python gcn.py --epochs 1
        python gat.py --epochs 1
        python rdl.py --task driver-top3 --epochs 1
        python relgnn.py --task driver-top3 --epochs 1
        python bridge/bridge.py --dataset tacm12k --epochs 1
        python bridge/bridge.py --dataset tlf2k --epochs 1
        python bridge/bridge.py --dataset tml1m --epochs 1
        python transtab/transtab.py --epochs 1
        python transtab/transtab_transfer.py --pre_epochs 1 --finetune_epochs 1
